@import 'colorsAndFonts.scss';
@import 'headerAndFooter.scss';
.articles__main {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  h2 {
    font-family: $communityFont;
    font-weight: normal;
    font-size: 4em;
    margin-bottom: 0.2em;
    margin-top: 0.3em;
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: none;
      color: rgb(136, 136, 136);
    }
  }
  p {
    font-family: $communityFont;
    font-weight: normal;
    font-size: 3em;
  }
  article {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 3;
    order: 0;
    flex-basis: auto;
    margin: 1em;
    h1 {
      font-family: $communityFont;
      align-self: center;
      margin-top: 0.3em;
      margin-bottom: 0;
      font-size: 6em;
      
    }
    section {
      display: flex;
      flex-direction: column;
      margin: 1em;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: 1px solid;
      p {
        font-size: 2.3em;
        font-weight: 300;
        margin-bottom: 0.3em;
        margin-top: 0.5em;
      }

      .continue {
        margin-top: 0;
      }
      
      img {
        width: 60%;
      }
    }
    .pagination {
      display: flex;
      order: 2;
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
        font-family: $communityFont;
        font-size: 2em;
        margin: 0.5em;
      }
      .active {
        color: $communityColor;
      }
      .disabled:hover {
        color: red;
      }
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    flex-grow: 2;
    flex-basis: 56em;
    background-color: $communityColor;
    height: 15em;
    margin: 2em;
    h2 {
      font-family: $communityFont;
      font-weight: bold;
      font-size: 3.3em;
      margin: 0.5em;
    }
    ul {
      list-style-type: none; 
      padding: 0;
      margin: 0.2em;
      font-family: $communityFont;
      font-weight: normal;
      font-size: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .articles__main {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    h2 {
      font-size: 1.8em;
      margin-top: 1.5em;
    }
    article {
      display: flex;
      align-items: center;
      margin-top: 2em;
      h1 {
        font-size: 3em;
        margin-top: 0;
      }
      section {
        display: flex;
        margin: 0;
        order: 1;
        p {
          font-size: 1.5em;
        }

        img {
          width: 100%;
        }
      }
    }
    aside {
      display: flex;
      justify-content: space-around;
      order: 0;
      flex-basis: 10em;
      margin: 0.5em;
      h2 {
        font-size: 2em;
        margin-bottom: 0;
      }
      ul {
        margin-top: 0.2em;
        li {
          font-size: 0.8em;
        }
      }
    }
  }
}
