@import 'colorsAndFonts.scss';
@import 'headerAndFooter.scss';
.article__main {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 1em;
  align-items: center;
  .article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
    h1 {
      font-family: $communityFont;
      font-size: 4em;
      font-weight: bold; 
      margin: 0;
    }
    img {
      width: 50%;
      margin: 1em;
    }
    p {
      font-family: $communityFont;
      font-size: 2.4em;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
    }
    .date {
      margin-top: 1em;
    }

    #vk_comments {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .article__main {
    margin-top: 4em;
    .article {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      height: auto;
      h1 {
        font-family: $communityFont;
        font-size: 2em;
        font-weight: bold; 
        margin: 0;
      }
      img {
        width: 80%;
        margin: 1em;
      } 
      p {
        font-family: $communityFont;
        font-size: 1.7em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
      }
      .date {
        margin-top: 1em;
      }
    }
    .commentary {
      display: flex;
      h2 {
        font-family: $communityFont;
        font-size: 3em;
        font-weight: bold; 
        margin-bottom: 1em;
      }
      .writeComment {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 3em;
            
        textarea {
          resize: none;
          width: 20em;
          height: 4em;
        }
      }
    }
  }
}
