$communityColor: #f1db5e;
$communityFont: 'Yanone Kaffeesatz';
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/Yanone_Kaffeesatz/Regular/YanoneKaffeesatz-Regular.woff2') format('woff2'),
      url('../fonts/Yanone_Kaffeesatz/Regular/YanoneKaffeesatz-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/Yanone_Kaffeesatz/Bold/YanoneKaffeesatz-Bold.woff2') format('woff2'),
      url('../fonts/Yanone_Kaffeesatz/Bold/YanoneKaffeesatz-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src:url('../fonts/Yanone_Kaffeesatz/Light/YanoneKaffeesatz-Light.woff2') format('woff2'),
      url('../fonts/Yanone_Kaffeesatz/Light/YanoneKaffeesatz-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
