form {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  margin-bottom: 0;
  div {
    &:last-child {
      margin-bottom: 0;
    }
    position: relative;
    margin-bottom: 2em;
    margin-left: 0;
    input {
      font-size: 1.5em;
      padding: 0.5em;
      margin: 0; 
      display: block;
      flex-direction: row;
      width: 15em;
      border: none;
      border-bottom: 1px solid #ccc;
    }
    input:focus {
      outline: none;
    }
    label {
      display: block;
      color: #000000;
      font-size: 2em;
    }
  }
  div:last-child {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 7em;
    height: 2em;
    border: 0;
    border-radius: 0.3em;
    margin: 0.2em;
    font-family: $communityFont;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    transition: .3s;
  }
  button:hover {
    background: rgba(0, 199, 27, 0.6);
    box-shadow: 0 0.7em 1em rgba(46, 229 ,157 ,0.3);
    color: white;
    transform: translateY(-0.3em);
  }
  button:focus {
    outline: none;
  }
  a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3em;
    margin-top: 1em;
  }
  a:hover {
    color: #708090;
  }
}

@media only screen and (max-device-width: 411px) {
  form {
    margin-bottom: 2em;
    div {
      input {
        width: 10em;
      }
    }
  }
}
