@import 'animate.min.scss';
@import 'colorsAndFonts.scss';
@import 'headerAndFooter.scss';
body {
  margin: 0;
}

.index__body {
  margin: 0;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.index_page {
  margin-top: 4em;
  display: -webkit-flex;
  display: flex;
  font-family: $communityFont;
  background-color: #fff;
  -webkit-flex-direction: column;
  flex-direction: column;
  h1 {
    font-size: 4em;
  }
  section {
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2em;
       /* margin-bottom: 5em; */
      h2 {
        font-size: 4em;
        margin-top: 0.11em;
        margin-bottom: 0.4em;
        font-family: $communityFont;
        font-weight: bold;
      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 1em;
        margin-right: 1em;
        p {
          display: flex;
          order: 0;
          align-self: center;
          font-size: 2.5em;
          width: 20em;
          margin: 0;
        }
        img {
          display: flex;
          order: 1;
          width: 40%;
          margin: 0.2em;
        }
      }

      .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.4em;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        img {
          width: 90%;
        }
      }
    
      
    }
    &:nth-child(2) {
      display: -webkit-flex;
      display: flex;
      flex-wrap: nowrap;
      font-family: $communityFont;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      align-content: center;
       #point {
        margin-bottom: 6em;
      }
      h2 {
        margin-top: 0;
      }
      article {
        font-size: 1.8em;
        margin-bottom: 0.5em;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2em;
        img {
          width: 100%;
        }
        h2 {
          font-size: 2.3em;
          font-weight: bold;
          margin-top: 0.2em;
          margin-bottom: 0.3em;
        }
        p {
          margin-bottom: 0;
          margin-top: 0;
          text-align: center;
          font-size: 1.5em;
          font-weight: 300;
        }
      }
      a {
        text-decoration: none;
        color: #000;
      }
      article a:hover {
        color: #696969;
      }
      h2 {
        font-size: 6.8em;
      }
    }
  }
  .join {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    div {
      &:first-child {
        background-color: #f1db5e;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          margin: 0;
          font-size: 2.6em;
          text-align: center;
          font-weight: 300;
        }
      }
      &:last-child {
        display: inline-flex;
        flex-grow: 1;
        img {
          width: 59.6em;
          height: 29em;
        }
      }
    }
  }
}

/* For 4K */
@media only screen and (min-device-width: 2560px) {
  .index_page section { 
    &:first-child {
      margin-top: 5em;
      h2 {
        font-size: 5.5em;
      }
      p {
        font-size: 4.5em;
      }
      .details {
        margin-top: 8em;
      }
    }  
  }
}

/* For Notebooks */
@media only screen and (max-device-width: 1445px) {
  .index_page {
    section {
      &:first-child {
        display: flex;
        p {
          margin-top: 2.8em;
          font-size: 2.3em; 
        }
      }
    }
    .join {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; 
        div {
          &:first-child {
          p {
            font-size: 2em; 
          }
        }
        &:last-child {
          img {
            width: 100%;
            height: 100%; 
          }
        } 
      }
    } 
  }
}


/* For iPad Pro */
@media only screen and (max-device-width: 1024px) {
  .index_page {
    margin-top: 3em;
    section {
      &:first-child {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          flex-direction: column;
          p {
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 1em;
            width: 12em;
          }
        }
      }
    }
    .join {
      display: flex;
      flex-direction: column;
      div {
        &:first-child {
          p {
            font-size: 2em;
          }
        }
        &:last-child img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* For iPad */
@media only screen and (max-device-width: 768px) {
  .index_page {
    section {
      &:first-child {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          flex-direction: column;
          p {
            display: flex;
            order: 1;
            font-size: 1.6em;
            text-align: center;
            width: 17em;
            margin-bottom: 0.9em;
          }
        }
       
      }
      &:nth-child(2) {
        h1 {
          font-size: 3em;
        }
        article {
          h2 {
            font-size: 1em;
          }
        }
      }
    }
  }
}

/* For Phones */
@media only screen and (max-device-width: 420px) {
  .index_page {
    margin-top: 3em;
    section {
      &:first-child {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 2.2em;
        }
        div {
          p {
            font-size: 1em;
            padding: 0;
            width: 14em;
          }
          img {
            width: 72%;
          }
        }

      }
      &:nth-child(2) {
        h1 {
          font-size: 2.2em;
        }
        article {
          margin-bottom: 0.5em;
          p {
            font-size: 1em;
          }
          h2 {
            font-size: 1.3em;
          }
        }
      }
    }
    .join {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-basis: 40em;
      flex-basis: 40em;
      flex-wrap: nowrap;
      -webkit-align-content: flex-end;
      align-content: flex-end;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      div {
        &:first-child {
          p {
            margin: 0.7em;
            font-size: 1em;
            text-align: center;
            display: -webkit-flex;
            display: flex;
            align-items: flex-end;
          }
        }
        &:last-child {
          display: inline-block;
        }
      }
    }
  }
}
/*For iPhone 5/SE*/
@media only screen and (max-device-width: 360px) {
  .index_page {
    margin-top: 2em;
    section {
      &:first-child {
          display: -webkit-flex;
          display: flex;
          div {
            h2 {
              font-size: 1em
            }
            p {
            font-size: 1.1em;
            padding: 0;
            }
          }
      }
      &:nth-child(2) {
        h1 {
          margin-top: 0.5em;
        }
      }
    }
  }
}