@import 'main.scss';

body {
    margin: 0 0 0 0; 
    background-color: $communityColor;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
