@import 'colorsAndFonts.scss';
@import 'headerAndFooter.scss';
@import 'form.scss';

.signUp__page {
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $communityFont;
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}

@media only screen and (max-device-width: 411px) {
  .signUp__page {
    margin-top: 3em;
    h1 {
      font-size: 2.5em;
    }
  }
}